<!-- <mat-sidenav-container
    class="example-container" (backdropClick)="close('backdrop')">
  <mat-sidenav #sidenav (keydown.escape)="close('escape')" disableClose>
    <p><button mat-button (click)="close('toggle button')">
      <mat-icon>menu</mat-icon>
    </button></p>
    <p>Link1</p>
  </mat-sidenav>

  <mat-sidenav-content>
    <button mat-button (click)="sidenav.open()">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-sidenav-content>
</mat-sidenav-container> -->

<nav>
  <div class="logo">
    <img src="" alt="">
    <h1>Same Wawe</h1>
  </div>
  <ul>
    <li><a routerLink="" routerLinkActive="active">Home</a></li>
    <li class="active_menu"><a href="" >Collection</a></li>
    <hr>
    <li><a href="">Albums</a></li>
    <li><a href="">Artists</a></li>
    <li><a href="">Songs</a></li>
    <hr>
    <li><a href="">Direct</a></li>
    <li><a routerLink="/auth" routerLinkActive="active">Sign in / Sign up</a></li>
  </ul>
</nav>
