<mat-sidenav-container
    class="example-container" (backdropClick)="close('backdrop')">
  <mat-sidenav #sidenav (keydown.escape)="close('escape')" disableClose>
    <p><button mat-button (click)="close('toggle button')">
      <mat-icon>menu</mat-icon>
    </button></p>
    <p>Link1</p>
  </mat-sidenav>

  <mat-sidenav-content>
    <button mat-button (click)="sidenav.open()">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-sidenav-content>
</mat-sidenav-container>
