.wrapper {
    display: flex;
    height: 100%;
}

app-menu {
    min-width: 20%;
}

.content {
    background: #232323;
    overflow-y: scroll;
}

.content -webkit-scrollbar {
    width: 0;
}

.content -webkit-scrollbar-thumb {
    background: #fff;
}

router-outlet {
    max-height: 100%;
    width: 80%;
}