.wrapper {
    display: flex;
    height: 100%;
}

app-menu {
    min-width: 20%;
}

.content {
    display: flex;
    align-content: center;
    justify-content: center;
    background: #232323;
    overflow-y: scroll;
    width: 80%;
    max-width: 80%;
}

router-outlet {
    max-height: 100%;
    max-width: 80%;
}