<div class="wrapper">
    <div class="item">
      <img src="https://lastfm-img2.akamaized.net/i/u/300x300/177100db6181b9a73e2c7ea87c83b252.png" alt="">
      <div class="description">
        <p>namsjkdfhiusdbfsdbfsdbfbdkfbiusdf  e</p>
        <p>Album</p>
      </div>
    </div>
    <div class="item">
      <p>name</p>
      <img src="https://lastfm-img2.akamaized.net/i/u/300x300/177100db6181b9a73e2c7ea87c83b252.png" alt="">
    </div>
    <div class="item">
      <p>name</p>
      <img src="https://lastfm-img2.akamaized.net/i/u/300x300/177100db6181b9a73e2c7ea87c83b252.png" alt="">
    </div> 
</div>