.wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.item {
    display: flex;
    background: rgb(7, 238, 242);
    flex-basis: 100%;
    margin: 10px;
}

.description {
    color: #000;
    font-size: 1.3em;
}

img {
    margin: 5px;
    width: 70px;
    border-radius: 50%;
}