/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

